.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.leftIcon {
  position: absolute;
  display: flex;
  top: 50%;
  padding: 0px 8px;
  transform: translateY(-50%);
  align-items: center;
  color: #9ca3af;
  pointer-events: none;
}

.rightIcon {
  position: absolute;
  right: 12px;
  display: flex;
  align-items: center;
  color: #9ca3af;
  pointer-events: none;
}

.icon {
  padding-left: 35px !important;
}
.input {
  width: 100%;
  min-width: 50px !important;
  padding: 6px 12px;
  font-size: 13px;
  color: #0f172a;
  border: 1px solid $gray-200;
  border-radius: 8px;
  background-color: white;
  height: 36px !important;
  transition: all 0.2s;

  &.hasLeftIcon {
      padding-left: 36px;
    }
  
    &.hasRightIcon {
      padding-right: 36px;
    }
  &::placeholder {
    color: #9ca3af;
    opacity: 1;
  }

  &:focus {
    outline: none;
    border-color: $gray-400;
  }

  &:disabled {
    background-color: #f3f4f6;
    color: #9ca3af;
    cursor: not-allowed;
  }

  &.error {
    border-color: #dc3545;

    &:focus {
      box-shadow: 0 0 0 1px #dc3545;
      border-color: #dc3545;
    }
  }

                &.filter {
                  background-color: $gray-25;
                }

  // Type specific styles
  &[type="date"] {
    &::-webkit-calendar-picker-indicator {
      opacity: 0.6;
      cursor: pointer;
      transition: opacity 0.2s;

      &:hover {
        opacity: 1;
      }
    }
  }
}